.sumSubButtons {
position: relative;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin: 7px 10px 0 0px;
  left: -60px;
}

.resetProductButtons {
margin: 5px 0 0 0;
}