.visibility-hidden {
visibility: hidden;
}

.star {
    float: left;
    width: 1em;
    height: 1em;
    background: url("/img/star-solid-gray.svg") no-repeat;
    transition-duration: 0.5s;
    cursor: pointer;
}

.star-holder:hover > .star, .selected > .star {
    background: url("/img/star-solid-yellow.svg") no-repeat;
}

#product-review-button {
    height: 45px;
}

