img {
    max-width:20%;
    max-height:200%;
    height: auto;
    width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: grayscale(100%);
}

img:hover {
    transform: scale(1.3);
}

table {
    border: 3px inset;
}

.star {
    float: left;
    width: 1em;
    height: 1em;
    background: url("/img/star-solid-gray.svg") no-repeat;
    transition-duration: 0.5s;
    cursor: pointer;
}

.star-holder:hover > .star, .selected > .star {
    background: url("/img/star-solid-yellow.svg") no-repeat;
}

