.visibility-hidden {
visibility: hidden;
}

.star {
    float: left;
    width: 1em;
    height: 1em;
    background: url("/img/star-solid-gray.svg") no-repeat;
    transition-duration: 0.5s;
    cursor: pointer;
}

.star-holder:hover > .star, .selected > .star {
    background: url("/img/star-solid-yellow.svg") no-repeat;
}

#product-review-button, #review-send-button {
    height: 45px;
}

#review-title {
    margin-top: 30px;
    margin-left: 15px;
    font-family: Montserrat-Regular !important;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

#review-star-title, .rating-text-div {
    font-size: 15px !important;
    font-family: Montserrat-Regular !important;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}




